<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Creation</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <a href="/read">Read</a>
        </div>

        <div class="form-wrapper">
            <form action="/create" method="post">
                <h1>Create a new User</h1>
                <input type="text" name="name" placeholder="Enter your name:" />
                <input type="text" name="email" placeholder="Enter your email id" />
                <input type="text" name="image" placeholder="Your image url goes here" />
                <button>create User</button>
            </form>
        </div>
    </div>
</body>


</html>